@font-face {
  font-family: 'AllerDisplay';
  src: url('./fonts/AllerDisplay.ttf');
}
h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'AllerDisplay', sans-serif ;
  margin: 0;
}
// Variables
$background-color: #3b4163;
$blue-color: #4d69fa;
$grey-color: #53555d;
$light-gray-color: #ededed;
$red-color:  #e74c3c;
$yellow-color: #ffac00;
$orange-color: #ff5722;

@mixin full-screen() {
  top: 0; right: 0; bottom: 0; left: 0;
}

@mixin cubic-transition($time) {
  -webkit-transition: $time cubic-bezier(.19,1,.22,1);
  -moz-transition: $time cubic-bezier(.19,1,.22,1);
  transition: $time cubic-bezier(.19,1,.22,1);
}

// Border radius:
@for $i from 1 through 4 {
  $value: $i * 0.25;
  .br-#{$i} { border-radius: #{$value}rem; }
}

body {
  background-color: $background-color;
}
::selection, ::-moz-selection {
  background: $blue-color;
}

.modern-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.fix-center {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.hangman_button {
  padding: 16px 64px;
  margin: 16px auto 0px;
  color: white;
  font-size: 1.5rem;
  background: transparent;
  border: 2px solid white;
  border-radius: 0.75rem;
  @include cubic-transition(0.5s);
  outline: none;
  cursor: pointer;
  &.yellow {
    color: $yellow-color;
    border: 2px dashed $yellow-color;
    &:hover {
      background: $yellow-color;
      color: white;
    }
  }
  &:hover {
    background: white;
    color: $background-color;
  }
}

// Flex
.flex-row, .flex-column {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.half-width {
  width: 50%;
}
.full-width {
  width: 100%;
}


.game-box {
  background-color: white;
  width: 60vw;
  height: 70vh;
  min-width: 800px;
  min-height: 500px;
  overflow: hidden;
  .triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 270px 270px;
    border-color: transparent transparent $blue-color transparent;
  }
}
.welcome-screen, .gameover-screen, .loading-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.gameover-screen, .loading-screen {
  background: transparentize($background-color, 0.3);
  z-index: 5000;
  @include full-screen();
}
.welcome-screen {
  img {
    width: 100px;
    margin: 0 auto;
  }
  h1 { margin-top: 8px; }
  p:first-of-type { margin-top: 16px; }
  @include full-screen();
}
.loading-screen {
  h3 {
    margin-top: 32px;
  }
}

.gameover-screen {
  h1 { margin-bottom: 16px; }
  p:last-of-type {
    margin-top: 8px;
    span {
      font-size: 2.3rem;
      color: $orange-color;
    }
  }
}

.missed-letters__wrapper {
  margin-top: 40px;
  min-height: 56px;
  margin-left: auto;
  color: $grey-color;
  .missed-letters {
    flex-wrap: wrap;
    margin-right: 16px;
    p {
      margin-right: 4px;
      font-weight: 800;
      font-size: 2.5rem;
      color: $blue-color;
    }
  }
}
.errors {
  color: $red-color;
  p {
    margin-top: 8px;
  }
}

.game-input {
  margin-top: auto;
  padding: 16px 40px 40px;
  .input-box__wrapper {
    position: relative;
    z-index: 250;
    .aspect {
      margin-top: 100%; // 1:1 aspect ratio for perfect squares
    }
    .input-box {
      background-color: $light-gray-color;
      position: absolute;
      @include full-screen();
      margin: 4px;
      font-weight: 800;
      justify-content: center;
      p {
        font-size: 1.5rem;
        text-align: center;
      }
      &.active {
        background-color: $grey-color;
        color: white;
      }
    }
  }
}


.the-hangman {
  position: relative;
  img {
    transform: scale(0.5, 0.5);
    position: absolute;
    &.hidden {
      display: none;
    }
  }
  img.bar {
    top: 30px;
    left: -180px;
  }
  img.bodypart {
    &.head {
      top: 30px;
      left: 37px;
      z-index: 1000;
    }
    &.neck {
      top: 160px;
      left: 110px;
      z-index: 500;
    }
    &.corpus {
      top: 155px;
      left: 80px;
      z-index: 1000;
    }
    &.arm {
      top: 167px;
      left: 33px;
      z-index: 1000;
      // Right arm:
      &.reverse {
        transform: scale(-0.5, 0.5);
        top: 167px;
        left: 107px;
        filter: hue-rotate(-324deg) brightness(77%);
        -webkit-filter: hue-rotate(-324deg) brightness(77%);
      }
    }
    &.hand {
      top: 239px;
      left: 54px;
      z-index: 500;
      &.reverse {
        left: 182px;
      }
    }
    &.leg {
      top: 227px;
      left: 69px;
      z-index: 500;
      &.reverse {
        left: 114px;
        transform: scale(-0.5, 0.5);
      }
    }
    &.foot {
      top: 340px;
      left: 50px;
      z-index: 250px;
      &.reverse {
        left: 131px;
        transform: scale(-0.5, 0.5);
      }
    }
  }
}
